/* Code tidied up by ScrapBook */
html { font-size: 87.5%; line-height: 1.42857em; }
html, button, input, select, textarea { font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; }
body { margin: 0px; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
b, strong { font-weight: bold; }
p, pre { margin: 14px 0px; }
small { font-size: 75%; }
dl, menu, ol, ul { margin: 14px 0px; }
menu, ol, ul { padding: 0px 0px 0px 56px; }
img { border: 0px none; }
form { margin: 0px; }
button, input, select, textarea { font-size: 100%; margin: 0px; vertical-align: baseline; }
button, input { line-height: normal; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0px; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
textarea { overflow: auto; vertical-align: top; }
table { border-collapse: collapse; border-spacing: 0px; }
html, body { height: 100%; }
html { overflow-y: scroll; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(0, 0, 0); line-height: 20px; min-width: 1008px; }
@media (min-width: 0px) and (max-width: 600px) {
}
h1, h2, h3, h4, h5, h6 { margin: 0px 0px 14px; }
h5, h6 { font-weight: normal; }
h1 { font-size: 21px; line-height: 35px; }
h3 { font-size: 16px; line-height: 28px; }
h4, h5, h6 { font-size: 14px; line-height: 20px; }
hr { background: rgb(229, 229, 229) none repeat scroll 0% 0%; border: 0px none; height: 1px; }
menu, ol, ul { padding: 0px 0px 0px 21px; }
ol, ul, p { max-width: 644px; }
ul { list-style: outside none square; }
small { font-size: 13px; }
@media (min-width: 0px) and (max-width: 600px) {
}
input:-moz-placeholder, textarea:-moz-placeholder { color: rgb(182, 180, 175) ! important; }
input[type="text"], input[type="password"], textarea, .fake-input { box-shadow: 0px 1px 2px rgb(182, 180, 175) inset, -1px 0px 0px rgba(255, 255, 255, 0.15) inset, 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 1px 0px rgb(255, 255, 255); color: rgb(0, 0, 0); display: inline-block; border-radius: 2px; border: 1px solid rgb(94, 91, 85); background: white none repeat scroll 0% 0%; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; font-size: 14px; line-height: 20px; padding: 0px 2px; margin-right: 4px; }
input[type="text"]:focus, input[type="password"]:focus, textarea:focus, .fake-input:focus { outline: 0px none; box-shadow: 0px 1px 2px rgb(182, 180, 175) inset, -1px 0px 0px rgba(255, 255, 255, 0.15) inset, 1px 0px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 3px 1px rgb(146, 186, 221); border-color: rgb(50, 111, 178); }
input[type="text"], input[type="password"] { vertical-align: middle; height: 20px; line-height: 20px; padding: 3px 7px 2px; }
input[type="checkbox"]:focus { box-shadow: 0px 0px 5px 2px rgb(67, 154, 220); border-radius: 5px; background: rgb(67, 154, 220) none repeat scroll 0% 0%; }
textarea { padding: 7px; line-height: 20px; }
select { font-size: 16px; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
a { color: rgb(0, 51, 187); cursor: pointer; text-decoration: none; }
a:visited { color: rgb(152, 21, 139); }
a:hover { color: rgb(0, 136, 204); text-decoration: underline; }
a:active { color: rgb(50, 111, 178); }
a img { border: 0px none; }
#main_wrapper .hide-desktop, .hide-desktop { display: none; }
@media (min-width: 0px) and (max-width: 600px) {
}
.muted, .broadcast_table .gutter .icon_wrapper, .facet_count, table.table_block td.empty_row { color: rgb(134, 131, 121); }
.float_fix::after, .lazy_gallery_slide_container::after, #page::after, #full-width-header .full-width-header-content::after, #user_header .full-width-header-content::after, .header-action-bar::after, .cards::after, .section .section_content::after, .cw_block::after, .header_with_search::after, aside ul, .section-boxes { content: " "; display: table; clear: both; }
.set_to_page_width, #page, #full-width-header .full-width-header-content, #user_header .full-width-header-content, .header-action-bar, #site_header, #site_footer { max-width: 1232px; min-width: 952px; height: 100%; margin: 0px auto; padding: 0px 28px; clear: both; }
@media (min-width: 0px) and (max-width: 600px) {
}
.no_width_limit, #site_footer_list, .release_stats_group_list ul, ul.as_table_block, ol.as_table_block { max-width: none; }
.push_down, .cards, .release_stats_group_list, #object_preview { margin-bottom: 28px; }
.no_vertical { margin-bottom: 0px; }
ul.no_vertical, ol.no_vertical { margin-top: 0px; margin-bottom: 0px; }
body { line-height: 20px; min-width: 1008px; margin: 0px; padding: 0px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#page, #full-width-header .full-width-header-content, #user_header .full-width-header-content, .header-action-bar { min-height: 100%; padding: 28px; }
#page.with_tabs, #full-width-header .with_tabs.full-width-header-content, #user_header .with_tabs.full-width-header-content, .with_tabs.header-action-bar { padding-top: 10px; }
#page #page_content, #full-width-header .full-width-header-content #page_content, #user_header .full-width-header-content #page_content, .header-action-bar #page_content, #page #page_aside, #full-width-header .full-width-header-content #page_aside, #user_header .full-width-header-content #page_aside, .header-action-bar #page_aside { margin: 0px; }
#page.aside_right #page_content, #full-width-header .aside_right.full-width-header-content #page_content, #user_header .aside_right.full-width-header-content #page_content, .aside_right.header-action-bar #page_content, #page.aside_right #page_aside, #full-width-header .aside_right.full-width-header-content #page_aside, #user_header .aside_right.full-width-header-content #page_aside, .aside_right.header-action-bar #page_aside, #page.aside_left #page_content, #full-width-header .aside_left.full-width-header-content #page_content, #user_header .aside_left.full-width-header-content #page_content, .aside_left.header-action-bar #page_content, #page.aside_left #page_aside, #full-width-header .aside_left.full-width-header-content #page_aside, #user_header .aside_left.full-width-header-content #page_aside, .aside_left.header-action-bar #page_aside { float: left; }
#page.aside_more_narrow #page_content, #full-width-header .aside_more_narrow.full-width-header-content #page_content, #user_header .aside_more_narrow.full-width-header-content #page_content, .aside_more_narrow.header-action-bar #page_content { width: 83%; }
#page.aside_more_narrow #page_aside, #full-width-header .aside_more_narrow.full-width-header-content #page_aside, #user_header .aside_more_narrow.full-width-header-content #page_aside, .aside_more_narrow.header-action-bar #page_aside { width: 15%; }
#page.aside_left #page_aside, #full-width-header .aside_left.full-width-header-content #page_aside, #user_header .aside_left.full-width-header-content #page_aside, .aside_left.header-action-bar #page_aside { margin-right: 2%; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.is_not_mobile .aside_off_canvas #page_content { width: 100%; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
#site_headers_super_wrap { position: relative; z-index: 80; color: rgb(0, 0, 0); font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; line-height: 20px; }
#site_header_wrap { height: 56px; border-bottom: 1px solid rgb(0, 0, 0); box-shadow: 0px -1px 0px rgb(38, 38, 38) inset; background: rgb(51, 51, 51) none repeat scroll 0% 0%; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_header { position: relative; height: 56px; z-index: 1; }
@media (min-width: 0px) and (max-width: 600px) {
}
#header_logo { display: block; height: 56px; position: absolute; width: 112px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#header_logo img { height: 40px; width: 112px; position: relative; top: 11px; }
@media (min--moz-device-pixel-ratio: 1.5), not all, not all, not all, (min-resolution: 1.5dppx) {
  #header_logo { background-image: url("discogs@400.png"); background-size: 112px 40px; background-repeat: no-repeat; background-position: 0px 11px; }
  #header_logo img { display: none; }
}
@media (min-width: 0px) and (max-width: 600px) {
}
#site_search { left: 180px; position: absolute; margin-right: 28px; margin-top: 14px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; border: 1px solid rgb(229, 229, 229); border-radius: 2px; transition-duration: 0.2s; transition-timing-function: ease-in; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_search #search_q, #site_search #do_site_search { background: transparent none repeat scroll 0% 0%; border: medium none; box-shadow: none; outline: 0px none; z-index: 1000; }
#site_search #search_q { position: relative; padding: 3px 7px 2px; width: 220px; height: 23px; line-height: 23px; float: left; font-size: 14px; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; transition-property: width; transition-duration: 0.2s; transition-timing-function: ease-in; }
@media (min-width: 1040px) {
  #site_search #search_q { width: 270px; }
}
@media (min-width: 0px) and (max-width: 600px) {
}
#site_search #do_site_search { padding: 1px 7px 2px; width: 18px; height: 25px; text-align: center; font-size: 18px; line-height: 25px; box-sizing: content-box; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_search #do_site_search i { color: rgb(107, 105, 97); margin-top: 3px; }
#site_search #do_site_search:hover i { color: rgb(27, 26, 24); }
#site_search:hover, .search_focused #site_search { background: white none repeat scroll 0% 0%; }
#autocomplete_spinner { position: absolute; display: none; margin-top: 0px; top: 5px; right: 33px; font-size: 18px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_header .button-green.button { position: relative; top: 12px; margin: 0px 10px; height: 2em; line-height: 2em; }
#site_navigation > li > a, #site_navigation > li .nav_group_control, #activity_menu > li > a, #activity_menu > li .nav_group_control { display: block; height: 56px; color: rgb(242, 242, 242); font-size: 15px; line-height: 56px; padding: 0px 10px; text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); text-decoration: none; }
#site_navigation > li > a i, #site_navigation > li .nav_group_control i, #activity_menu > li > a i, #activity_menu > li .nav_group_control i { font-size: 14px; }
#site_navigation > li > a:hover, #site_navigation > li .nav_group_control:hover, #activity_menu > li > a:hover, #activity_menu > li .nav_group_control:hover, #site_navigation > li > a:hover i, #site_navigation > li .nav_group_control:hover i, #activity_menu > li > a:hover i, #activity_menu > li .nav_group_control:hover i { color: white; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_navigation, #activity_menu { height: 56px; left: 510px; top: 0px; position: absolute; z-index: 1; margin: 0px; padding: 0px; list-style: outside none none; }
#site_navigation > li, #activity_menu > li { float: left; }
#site_navigation > li > a i, #site_navigation > li .nav_group_control i, #activity_menu > li > a i, #activity_menu > li .nav_group_control i { color: rgb(204, 204, 204); margin-top: 0px; vertical-align: bottom; line-height: 56px; }
.is_not_mobile #site_navigation > li > a:hover, .is_not_mobile #site_navigation > li .nav_group_control:hover, .is_not_mobile #activity_menu > li > a:hover, .is_not_mobile #activity_menu > li .nav_group_control:hover { cursor: pointer; }
#site_navigation > li > a:focus, #site_navigation > li .nav_group_control:focus, #activity_menu > li > a:focus, #activity_menu > li .nav_group_control:focus { outline: 0px none; }
#site_navigation > li.site_nav_group > .nav_group_control, #activity_menu > li.site_nav_group > .nav_group_control { padding-right: 7px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_navigation { transition: left 0.2s ease-in 0.2s; left: 470px; z-index: 2; opacity: 1; visibility: visible; }
@media (min-width: 1040px) {
  #site_navigation { left: 510px; }
}
@media (min-width: 0px) and (max-width: 600px) {
}
#mobile_site_navigation_toggle { display: none; position: absolute; height: 56px; right: 0px; line-height: 66px; text-align: center; width: 50px; z-index: 1; }
@media (min-width: 0px) and (max-width: 600px) {
}
#mobile_site_navigation_toggle i { color: rgb(204, 204, 204); font-size: 28px; margin-top: 0px; position: relative; top: 3px; }
#mobile_site_navigation { background: rgb(51, 51, 51) none repeat scroll 0% 0%; display: none; font-size: 18px; left: 0px; list-style: outside none none; margin: 0px; padding: 56px 0px 0px; position: relative; width: 100%; }
#mobile_site_navigation li { margin: 0px; padding: 0px; line-height: 0; }
#activity_menu { left: auto; right: 28px; width: 300px; }
#activity_menu > li { float: right; }
@media (min-width: 0px) and (max-width: 600px) {
}
.site_nav_group { height: 56px; position: relative; }
.site_nav_group i { font-size: 14px; width: 18px; padding-left: 6px; padding-right: 0px; text-align: center; }
@media (min-width: 0px) and (max-width: 600px) {
}
.site_nav_submenu, .site_nav_tray { border-bottom: 1px solid rgba(255, 255, 255, 0.3); color: rgb(153, 153, 153); display: none; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25), 0px 0px 2px rgba(0, 0, 0, 0.25); margin: 0px; position: absolute; padding: 0px; background: black none repeat scroll 0% 0%; width: 210px; top: 55px; left: 0px; list-style: outside none none; z-index: 1; }
.site_nav_submenu li, .site_nav_tray li { font-size: 15px; }
.site_nav_submenu a, .site_nav_tray a { position: relative; color: rgb(242, 242, 242); display: block; outline: medium none; }
.site_nav_submenu a:visited, .site_nav_tray a:visited { color: rgb(242, 242, 242); }
.site_nav_submenu a:hover, .site_nav_tray a:hover { color: rgb(77, 210, 255); text-decoration: underline; }
.site_nav_submenu a:active, .site_nav_tray a:active { color: white; text-decoration: underline; }
.site_nav_submenu a, .site_nav_submenu .no_link, .site_nav_tray a, .site_nav_tray .no_link { padding: 5px 10px; }
@media (min-width: 0px) and (max-width: 600px) {
}
.site_nav_tray { position: absolute; left: -514px; margin: 0px; width: 936px; top: 56px; transition-duration: 0.2s; transition-timing-function: ease-in; }
@media (min-width: 1040px) {
  .site_nav_tray { left: -554px; }
}
.site_nav_tray table { border-collapse: collapse; border-spacing: 0px; padding: 0px; table-layout: fixed; }
.site_nav_tray td { vertical-align: top; margin: 0px; padding: 10px 0px; width: 10%; }
.site_nav_tray h4 { color: rgb(204, 204, 204); font-size: 16px; line-height: 28px; padding: 10px; margin: 0px; }
.site_nav_tray ul { list-style: outside none none; margin: 0px; padding: 0px; }
.site_nav_tray ul li { line-height: 1.2em; margin: 0px; padding: 0px; }
.site_nav_tray .facet_count { position: absolute; right: 5px; top: 5px; }
.site_nav_tray a:hover .facet_count { color: white; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
#act { background: rgb(242, 51, 13) none repeat scroll 0% 0%; color: rgb(255, 255, 255); display: none; left: 0px; opacity: 0.75; padding: 3.5px 7px; position: absolute; top: 0px; z-index: 110; }
#site_footer_wrap { border-top: 1px solid rgb(229, 229, 229); }
#site_footer { height: 220px; font-family: "Helvetica Neue",Helvetica,"Nimbus Sans",Arial,sans-serif; font-size: 13px; }
#site_footer i { font-size: 14px; margin-right: 5px; }
#site_footer ul { margin: 0px; padding: 0px; }
#site_footer a { color: rgb(0, 51, 187); }
#site_footer .icon-soundcloud { margin-left: -7px; }
#site_footer .icon-mixcloud { margin-left: -3px; }
#main_wrapper { min-height: 100%; height: auto ! important; margin-bottom: -264px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#push_footer { height: 264px; clear: both; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_footer_list { line-height: 21px; padding: 0px; list-style: outside none none; margin: 0px; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_footer_list > li { float: left; width: 25%; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_footer_list li { list-style: outside none none; }
#site_footer_list h5 { font-weight: normal; margin: 0px; padding-bottom: 10px; padding-top: 20px; font-size: 14px; }
#site_footer_legal { clear: both; margin-top: 0px; padding-top: 20px; max-width: none; }
#site_footer_legal a { margin-right: 1em; }
#site_footer_legal #copyright { margin-right: 1em; }
#site_footer_legal #footer_menu_link { display: none; }
@media (min-width: 0px) and (max-width: 600px) {
}
#site_footer_legal #language_container { position: relative; }
#site_footer_legal #language_container #i18n_select { position: absolute; left: 0px; top: -3px; opacity: 0; width: 100%; z-index: 100; }
@media (min-width: 0px) and (max-width: 600px) {
}
.ad_container { margin-bottom: 10px; clear: both; }
.ad_top, .ad_bottom { margin-left: auto; margin-right: auto; text-align: center; }
@media (min-width: 800px) {
  .ad_top, .ad_bottom { height: 90px; width: 728px; }
}
@media (min-width: 980px) {
  .ad_top, .ad_bottom { height: 90px; width: 970px; }
}
@media (min-width: 0px) and (max-width: 600px) {
}
.ad_left { height: 600px; width: 160px; }
@media (min-width: 1205px) {
}
.flash_messages { position: relative; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 600px) {
}
input[type="submit"], input[type="reset"], button { box-sizing: content-box; }
.button.button-green[disabled], .button.button-green[disabled]:hover, .button.button-green[disabled]:active, .button.button-green[disabled]:visited, .button.button-green[disabled]:focus, .button.button-blue[disabled], .button.button-blue[disabled]:hover, .button.button-blue[disabled]:active, .button.button-blue[disabled]:visited, .button.button-blue[disabled]:focus, .button.button-red[disabled], .button.button-red[disabled]:hover, .button.button-red[disabled]:active, .button.button-red[disabled]:visited, .button.button-red[disabled]:focus, .button.button-dark[disabled], .button.button-dark[disabled]:hover, .button.button-dark[disabled]:active, .button.button-dark[disabled]:visited, .button.button-dark[disabled]:focus, .button.button-white[disabled], .button.button-white[disabled]:hover, .button.button-white[disabled]:active, .button.button-white[disabled]:visited, .button.button-white[disabled]:focus, .button[disabled], .button[disabled]:hover, .button[disabled]:active, .button[disabled]:visited, .button[disabled]:focus, .button { cursor: pointer; border-color: rgb(224, 224, 224) rgb(219, 219, 219) rgb(211, 211, 211); background-color: rgb(242, 242, 242); background-image: linear-gradient(rgb(242, 242, 242), rgb(234, 234, 234)); color: rgb(51, 51, 51); box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(255, 255, 255, 0.024) inset, 1px 0px 0px rgba(255, 255, 255, 0.024) inset, 0px 1px 1px rgba(0, 0, 0, 0.1); }
.button:hover, .button:focus { border-color: rgb(211, 211, 211) rgb(217, 217, 217) rgb(204, 204, 204); background-image: linear-gradient(rgb(255, 255, 255), rgb(250, 250, 250)); }
.button:active { border-color: rgb(191, 191, 191); background-color: rgb(249, 249, 249); background-image: linear-gradient(rgb(242, 242, 242), rgb(255, 255, 255)); }
.button { border-radius: 3px; display: inline-block; border-style: solid; border-width: 1px; vertical-align: middle; height: 2em; line-height: 2em; padding: 0px 1em; font-weight: normal; font-size: 14px; font-family: Helvetica,Arial,sans-serif; text-align: center; }
@media (min-width: 0px) and (max-width: 600px) {
}
.button i { padding-right: 2px; margin-top: 0.2em; }
.button:hover, .button:focus, .button:visited { color: rgb(51, 51, 51); text-decoration: none; }
.button:focus { outline: 0px none; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.05) inset, -1px 0px 0px rgba(255, 255, 255, 0.024) inset, 1px 0px 0px rgba(255, 255, 255, 0.024) inset, 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 0px 3px 1px rgb(146, 186, 221); }
.button:active { box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15) inset, 0px 1px 1px rgba(0, 0, 0, 0.2); }
@media (min-width: 0px) and (max-width: 600px) {
}
.button.button-green, .button.button-blue, .button.button-red, .button.button-dark { text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.25); color: white; }
.button.button-green { border-color: rgb(82, 171, 52) rgb(78, 163, 50) rgb(73, 151, 46); background-color: rgb(96, 196, 63); background-image: linear-gradient(rgb(96, 196, 63), rgb(89, 186, 57)); }
.button.button-green:hover, .button.button-green:focus { border-color: rgb(73, 151, 46) rgb(76, 159, 49) rgb(67, 140, 43); background-image: linear-gradient(rgb(115, 203, 86), rgb(106, 200, 75)); }
.button.button-green:active { border-color: rgb(58, 120, 37); background-color: rgb(112, 202, 83); background-image: linear-gradient(rgb(96, 196, 63), rgb(112, 202, 83)); }
.button.button-blue { border-color: rgb(55, 118, 174) rgb(53, 113, 166) rgb(49, 105, 155); background-color: rgb(69, 136, 196); background-image: linear-gradient(rgb(69, 136, 196), rgb(60, 128, 190)); }
.button.button-blue:hover, .button.button-blue:focus { border-color: rgb(49, 105, 155) rgb(52, 110, 162) rgb(45, 97, 143); background-image: linear-gradient(rgb(92, 151, 203), rgb(81, 143, 200)); }
.button.button-blue:active { border-color: rgb(39, 84, 124); background-color: rgb(88, 148, 202); background-image: linear-gradient(rgb(69, 136, 196), rgb(88, 148, 202)); }
.button.button-red { border-color: rgb(163, 50, 48) rgb(156, 47, 46) rgb(144, 44, 42); background-color: rgb(191, 58, 56); background-image: linear-gradient(rgb(191, 58, 56), rgb(179, 54, 53)); }
.button.button-red:hover, .button.button-red:focus { border-color: rgb(144, 44, 42) rgb(152, 46, 44) rgb(132, 40, 39); background-image: linear-gradient(rgb(202, 77, 75), rgb(199, 65, 63)); }
.button.button-red:active { border-color: rgb(112, 34, 33); background-color: rgb(199, 75, 74); background-image: linear-gradient(rgb(191, 58, 56), rgb(201, 73, 71)); }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.icon_button_group { float: right; height: 30px; padding-right: 10px; position: relative; }
@media (min-width: 0px) and (max-width: 600px) {
}
a.inset_button { border: 1px solid white; color: black; display: inline-block; height: 24px; line-height: 24px; padding: 2px 7px; position: relative; border-radius: 2px; text-decoration: none; }
a.inset_button i { font-size: 19px; line-height: 26px; width: auto; margin-top: 0px; }
a.inset_button:hover { border-color: rgb(204, 204, 204); text-decoration: none; }
a.inset_button:active { box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1) inset; border-color: rgb(204, 204, 204); background: rgb(242, 242, 242) none repeat scroll 0% 0%; }
a.inset_button[disabled] { background: rgb(242, 242, 242) none repeat scroll 0% 0%; border-color: rgb(204, 204, 204); cursor: default; box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.1) inset; }
.cards { width: 100%; }
.card { position: relative; }
.card .card_actions { position: absolute; top: 0px; right: 0px; text-align: right; }
.card.card_large { float: left; margin: 7px 9px 14px 7px; width: 150px; height: 205px; }
.card.card_large span a { display: inline; }
.card.card_large h4, .card.card_large h5 { margin-bottom: 0px; overflow: hidden; font-size: 13px; text-align: left; white-space: nowrap; text-overflow: ellipsis; }
.card.card_large h4 { margin: 7px 0px 0px; }
.card.card_large .thumbnail_link span { max-height: none; }
.card.card_large .card_actions { top: 4px; right: 4px; bottom: auto; margin: 0px; padding-top: 0px; }
.card.card_large .card_actions .skittle { border: 1px solid rgba(0, 0, 0, 0.1); margin-bottom: 3px; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.facets_header { margin: 14px 0px 4.66667px; }
@media (min-width: 0px) and (max-width: 600px) {
}
.facets_nav { margin: 0px; padding: 0px; list-style: outside none none; }
.facets_nav li { margin: 0px; padding: 0px; }
.facets_nav a { line-height: 1em; display: block; margin: 0px; padding: 6px 6px 6px 0px; position: relative; z-index: 1; border-radius: 2px; }
.is_not_mobile .facets_nav a:hover { color: rgb(0, 51, 187); }
.is_not_mobile .facets_nav a:hover .facet_count { color: rgb(51, 51, 51); }
.facet_count { display: inline-block; font-size: 13px; }
a:hover .facet_count { text-decoration: none; }
.facets_nav .facet_count { float: right; }
.facet-bar { background-color: rgb(242, 242, 242); display: inline-block; position: absolute; right: 0px; bottom: 1px; top: 1px; z-index: -1; border-radius: 2px; transition: width 0.2s ease 0s; }
.is_not_mobile a:hover .facet-bar, .is_not_mobile a:focus .facet-bar { background-color: rgb(223, 223, 223); }
.more_facets_link { line-height: 1em; display: block; margin: 0px; padding: 6px 6px 6px 0px; position: relative; z-index: 1; border-radius: 2px; }
.is_not_mobile .more_facets_link:hover { color: rgb(0, 51, 187); }
.more_facets_link i { display: inline-block; position: relative; right: auto; top: auto; margin-left: 0.5em; }
.more_facets_dialog hr { clear: both; background: white none repeat scroll 0% 0%; border-bottom: 1px dotted rgb(217, 217, 217); height: 1px; margin: 0px 0px 10px; }
.more_facets_dialog ul { float: left; width: 160px; margin-right: 20px; margin-bottom: 10px; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 1140px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (max-width: 1140px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.thumbnail_link.thumbnail_size_large, .thumbnail_link.thumbnail_size_large.thumbnail_orientation_landscape img { height: 150px; }
.thumbnail_link.thumbnail_size_large, .thumbnail_link.thumbnail_size_large.thumbnail_orientation_portrait img { width: 150px; }
.thumbnail_link.thumbnail_size_large.thumbnail_orientation_landscape .thumbnail_center { margin-left: 75px; }
.thumbnail_link.thumbnail_size_large.thumbnail_orientation_portrait .thumbnail_center { margin-top: 75px; }
.thumbnail_link { box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1); display: inline-block; overflow: hidden; position: relative; text-align: left; }
.thumbnail_link, .thumbnail_link * { vertical-align: middle; }
.thumbnail_link.thumbnail_size_large.thumbnail_orientation_portrait img { height: auto; top: -1px; }
.thumbnail_link img { max-width: 100%; height: auto; display: inline-block; margin: 0px auto; position: relative; }
@media (min-width: 0px) and (max-width: 600px) {
}
.thumbnail_border { background-color: transparent; border-width: 1px; border-style: solid; border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; position: absolute; pointer-events: none; left: 0px; top: 0px; right: 0px; bottom: 0px; z-index: 1; }
.thumbnail_center { overflow: hidden; position: absolute; }
.thumbnail_orientation_landscape .thumbnail_center { left: -100px; text-align: center; width: 200px; }
.thumbnail_orientation_portrait .thumbnail_center { top: -100px; height: 200px; line-height: 200px; }
.thumbnail_orientation_portrait .thumbnail_center img { display: inline-block; vertical-align: middle; margin: auto; }
@media (min-width: 0px) and (max-width: 600px) {
}
.tab_menu { border-bottom: 1px solid rgb(229, 229, 229); font-size: 14px; height: 42px; margin: 0px; padding: 0px; list-style: outside none none; position: relative; width: 100%; max-width: none; }
.tab_menu li { position: relative; border-left: 1px solid transparent; border-top: 1px solid transparent; border-right: 1px solid transparent; float: left; height: 41px; margin: 0px; z-index: 2; }
.tab_menu li.current { background: white none repeat scroll 0% 0%; border-width: 1px; border-style: solid; border-color: rgb(229, 229, 229) rgb(229, 229, 229) white; font-weight: bold; }
.tab_menu li.current a { border-bottom: 2px solid white; color: black; outline: 0px none; }
.tab_menu li.first { margin-left: 7px; }
.tab_menu a, .tab_menu .menu_item_no_link { display: block; height: 31px; padding: 10px 10px 0px; }
.tab_menu a:visited, .tab_menu .menu_item_no_link:visited { color: rgb(0, 51, 187); }
.tab_menu .link_text { float: left; }
@media (min-width: 0px) and (max-width: 600px) {
}
a.link_with_count:hover { text-decoration: none; }
a.link_with_count:hover .link_text { text-decoration: underline; }
a.link_with_count .facet_count { margin-left: 0.3em; float: right; text-decoration: none; line-height: 21px; }
.inline_menu { font-size: 14px; margin: 0px; padding: 0px; }
.inline_menu li { display: inline; margin: 0px; padding: 0px; }
.inline_menu a, .inline_menu li.no_link { display: inline-block; padding: 11px 10px 10px; }
.actions_with_tabs { float: right; position: relative; z-index: 1; margin-top: -42px; min-width: 30%; text-align: right; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.pagination { font-size: 14px; line-height: 42px; height: 42px; position: relative; }
.pagination.top { border-bottom: 1px solid rgb(229, 229, 229); border-top: 0px none; }
.pagination.bottom { border-bottom: 0px none; border-top: 1px solid rgb(229, 229, 229); clear: both; }
.pagination ul { float: left; margin: 0px; padding: 0px; }
.pagination ul li { font-size: 0px; display: inline; margin: 0px; padding: 0px; list-style: outside none none; }
.pagination ul li > * { font-size: 14px; }
.pagination ul li a, .pagination ul li span { display: inline-block; padding-left: 5px; padding-right: 5px; }
.pagination form { display: inline; }
.pagination label { display: inline-block; }
.pagination label, .pagination .icon_button_group { margin-left: 5px; padding-left: 5px; padding-right: 5px; }
.pagination .icon_button_group a { top: 2px; }
@media (min-width: 0px) and (max-width: 600px) {
}
.pagination_total, .pagination_page_links { float: left; height: 42px; }
.pagination_total i, .pagination_page_links i { width: auto; margin: 0px 4.66667px; vertical-align: middle; }
.pagination_controls { float: right; max-width: 55%; text-align: right; height: 42px; position: relative; }
.pagination_controls.multiple_filters select { max-width: 150px; }
@media (min-width: 0px) and (max-width: 1140px) {
  .pagination_controls.multiple_filters select { max-width: 68px; }
}
.pagination_controls .hide_mobile, .pagination_controls .strict_search { display: inline-block; }
@media (min-width: 0px) and (max-width: 600px) {
}
#pjax_container { position: relative; }
@media (min-width: 0px) and (max-width: 600px) {
}
.contains-parallax-bg { position: relative; overflow: hidden; }
.parallax-bg { position: absolute; top: -200px; left: 0px; z-index: 1; width: 100%; height: 100%; padding-top: 200px; backface-visibility: hidden; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 320px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 1140px) {
}
@media (min-width: 600px) and (max-width: 1160px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.skittles { padding-top: 10px; cursor: default; }
.skittle { cursor: default; display: inline-block; font-size: 11px; font-weight: bold; height: 14px; line-height: 14px; padding: 0px 4px; text-align: center; border: 1px solid transparent; position: relative; color: white; border-radius: 20px; text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5); top: -1px; }
.skittle i { display: none; }
.skittle.skittle_collection { background: rgb(96, 196, 63) none repeat scroll 0% 0%; }
.skittle.skittle_wantlist { background: rgb(191, 58, 56) none repeat scroll 0% 0%; }
.skittle.skittle_inventory { background: rgb(69, 136, 196) none repeat scroll 0% 0%; }
a.skittle { color: white; cursor: pointer; }
a.skittle:hover { text-decoration: none; }
a.skittle.skittle_inventory { background: rgb(52, 110, 162) none repeat scroll 0% 0%; }
#social_divider { position: relative; margin-top: 1em; }
.social_line { height: 1px; border-top: 1px solid rgb(229, 229, 229); position: absolute; top: 50%; width: 45%; }
#social_line_right { right: 0px; }
#social_or { margin: auto; width: 4em; text-align: center; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.password-strength-meter { display: inline-flex; position: absolute; top: 0px; bottom: 0px; right: 0px; width: 30px; padding: 0px; margin: 0px; flex-direction: column; align-items: center; justify-content: center; background-color: white; }
#gs_homepage_hero .password-strength-meter { right: 40px; margin-bottom: 4px; }
.hide-password-strength-meter .password-strength-meter { display: none; }
.password-strength-meter-markup .strength-bar { list-style: outside none none; height: 10%; min-height: 3px; width: 60%; margin-bottom: 1px; border: 1px solid lightgrey; background-color: white; border-radius: 4px; }
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 1140px) {
}
@media (min-width: 601px) and (max-width: 1140px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
@media (min-width: 0px) and (max-width: 600px) {
}
.input-validation-wrapper .input-validation-message { padding: 3.5px 7px; margin-top: 3.5px; width: 476px; border-radius: 3px; color: rgb(45, 89, 134); border: 1px solid rgb(121, 166, 210); background-color: rgb(211, 226, 240); background-image: linear-gradient(rgb(224, 235, 245), rgb(198, 217, 236)); }
@media (min-width: 0px) and (max-width: 600px) {
}
