/* Code tidied up by ScrapBook */
@font-face {
  font-family: "oswald_regular";
  font-style: normal;
  font-weight: normal;
  src: url("404.html") format("embedded-opentype"), url("oswald-regular-webfont.woff2") format("woff2"), url("oswald-regular-webfont.woff") format("woff"), url("oswald-regular-webfont.ttf") format("truetype"), url("oswald-regular-webfont.svg") format("svg");
}
@font-face {
  font-family: "oswald_stencilbold";
  font-style: normal;
  font-weight: normal;
  src: url("404_001.html") format("embedded-opentype"), url("oswald-stencil-webfont.woff2") format("woff2"), url("oswald-stencil-webfont.woff") format("woff"), url("oswald-stencil-webfont.ttf") format("truetype"), url("oswald-stencil-webfont.svg") format("svg");
}
@font-face {
  font-family: "roboto-thin-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("404_005.html") format("embedded-opentype"), url("roboto-thin-webfont.woff2") format("woff2"), url("roboto-thin-webfont.woff") format("woff"), url("roboto-thin-webfont.ttf") format("truetype"), url("roboto-thin-webfont.svg") format("svg");
}
@font-face {
  font-family: "robotocondensed-bold-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("404_002.html") format("embedded-opentype"), url("robotocondensed-bold-webfont.woff2") format("woff2"), url("robotocondensed-bold-webfont.woff") format("woff"), url("robotocondensed-bold-webfont.ttf") format("truetype"), url("robotocondensed-bold-webfont.svg") format("svg");
}
@font-face {
  font-family: "robotocondensed-regular-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("404_003.html") format("embedded-opentype"), url("robotocondensed-regular-webfont.woff2") format("woff2"), url("robotocondensed-regular-webfont.woff") format("woff"), url("robotocondensed-regular-webfont.ttf") format("truetype"), url("robotocondensed-regular-webfont.svg") format("svg");
}
@font-face {
  font-family: "robotocondensed-light-webfont";
  font-style: normal;
  font-weight: normal;
  src: url("404_006.html") format("embedded-opentype"), url("robotocondensed-light-webfont.woff2") format("woff2"), url("robotocondensed-light-webfont.woff") format("woff"), url("robotocondensed-light-webfont.ttf") format("truetype"), url("robotocondensed-light-webfont.svg") format("svg");
}
@font-face {
  font-family: "fontawesome";
  font-style: normal;
  font-weight: normal;
  src: url("404_004.html") format("embedded-opentype"), url("fontawesome-webfont.woff2") format("woff2"), url("fontawesome-webfont.woff") format("woff"), url("fontawesome-webfont.ttf") format("truetype"), url("fontawesome-webfont.svg") format("svg");
}
@font-face {
  font-family: "robotothin";
  font-style: normal;
  font-weight: normal;
  src: url("404_005.html") format("embedded-opentype"), url("roboto-thin-webfont.woff2") format("woff2"), url("roboto-thin-webfont_001.woff") format("woff"), url("roboto-thin-webfont_001.ttf") format("truetype"), url("roboto-thin-webfont.svg") format("svg");
}
.eab-alerts-mainframe { width: 100%; padding: 0px; margin: 0px; min-width: 350px; }
.eab-alerts-frame { padding: 0px; margin: 0px; display: block; float: left; width: 100%; }
.eab-alerts-ul { list-style-type: none; padding: 0px; margin: 0px; display: block; float: left; width: 100%; }
.eab-alert-li { float: left; width: 100%; display: block; background-color: rgb(255, 153, 0); color: rgb(255, 255, 255); border-bottom: 1px solid rgb(255, 255, 255); }
.eabv3-alert-tag { color: rgb(0, 0, 0); font-family: "oswald_regular"; font-size: 12px; background-color: rgb(244, 122, 0); float: left; width: 15% ! important; height: auto ! important; text-align: center; margin: 0px 8px 0px 0px; padding: 15px 9px 20px 6px ! important; line-height: 14px; }
.alternateAlerts { color: rgb(255, 255, 255); }
.eab-alert-header { height: auto; width: 60%; margin: 0px auto; padding: 0px; max-width: 1440px; }
.eabv3-header-name { float: left; width: 60%; margin: 0px auto; padding: 10px 2% 0px 0px; font-family: "robotocondensed-regular-webfont"; text-align: left; line-height: 16px; color: rgb(255, 255, 255); font-size: 0.9em; }
.eabv3-article-date { font-size: 0.7em; float: right; }
@media (max-width: 768px) {
  .eab-alert-header { height: auto; width: 100%; margin: 0px auto; padding: 0px; }
  .eabv3-alert-tag { color: rgb(0, 0, 0); font-family: "oswald_regular"; font-size: 12px; background-color: rgb(244, 122, 0); float: left; width: 15% ! important; min-width: 70px; height: auto ! important; text-align: center; margin: 0px 8px 0px 0px; padding: 15px 9px 10px 6px ! important; line-height: 14px; }
  .eabv3-header-name { float: left; width: 70%; margin: 0px auto; padding: 10px 2% 0px 0px; font-size: 13px; font-family: "robotocondensed-regular-webfont"; text-align: left; line-height: 16px; color: rgb(255, 255, 255); }
}
@media (max-width: 400px) {
  .eab-alert-header { height: auto; width: 100%; margin: 0px auto; padding: 0px; }
  .eabv3-alert-tag { color: rgb(0, 0, 0); font-family: "oswald_regular"; font-size: 0.7em; background-color: rgb(244, 122, 0); float: left; width: 15% ! important; min-width: 50px; height: auto ! important; min-height: 35px; text-align: center; margin: 0px 8px 0px 0px; padding: 12px 5px ! important; line-height: 14px; }
  .eabv3-header-name { float: left; width: 75%; margin: 0px auto; padding: 8px 2% 0px 0px; font-size: 13px; font-family: "robotocondensed-regular-webfont"; text-align: left; line-height: 16px; color: rgb(255, 255, 255); }
}
