/* Code tidied up by ScrapBook */
.flag_16 { background-repeat: no-repeat; }
.left_16 { padding-left: 20px; background-position: left top; }
.right_16 { padding-right: 20px; background-position: right top; }
.flag_16 { background-image: url("map.png"); background-repeat: no-repeat; }
.africa_16_left { background-position: 0px -33px; }
.andorra_16_right { background-position: 100% -97px; }
.argentina_16_left { background-position: 0px -161px; }
.asia_16_left { background-position: 0px -209px; }
.australia_16_left { background-position: 0px -225px; }
.austria_16_left { background-position: 0px -241px; }
.bangladesh_16_left { background-position: 0px -305px; }
.bhutan_16_left { background-position: 0px -417px; }
.bolivia_16_left { background-position: 0px -433px; }
.brazil_16_left { background-position: 0px -497px; }
.brunei-darussalam_16_left { background-position: 0px -529px; }
.cameroon_16_left { background-position: 0px -609px; }
.chile_16_left { background-position: 0px -705px; }
.china-pr_16_left { background-position: 0px -721px; }
.colombia_16_left { background-position: 0px -753px; }
.croatia_16_left { background-position: 0px -865px; }
.czech-republic_16_left { background-position: 0px -929px; }
.denmark_16_left { background-position: 0px -945px; }
.el-salvador_16_left { background-position: 0px -1057px; }
.england_16_left { background-position: 0px -1073px; }
.estonia_16_left { background-position: 0px -1121px; }
.europe_16_left { background-position: 0px -1153px; }
.faroe-islands_16_left { background-position: 0px -1169px; }
.finland_16_left { background-position: 0px -1201px; }
.france_16_left { background-position: 0px -1217px; }
.germany_16_left { background-position: 0px -1297px; }
.greece_16_right { background-position: 100% -1361px; }
.iceland_16_left { background-position: 0px -1569px; }
.india_16_left { background-position: 0px -1585px; }
.indonesia_16_left { background-position: 0px -1601px; }
.iran_16_left { background-position: 0px -1617px; }
.israel_16_right { background-position: 100% -1681px; }
.italy_16_left { background-position: 0px -1697px; }
.italy_16_right { background-position: 100% -1697px; }
.japan_16_left { background-position: 0px -1729px; }
.kazakhstan_16_left { background-position: 0px -1777px; }
.kenya_16_left { background-position: 0px -1793px; }
.latvia_16_left { background-position: 0px -1937px; }
.lebanon_16_left { background-position: 0px -1953px; }
.lithuania_16_left { background-position: 0px -2033px; }
.macedonia-fyr_16_left { background-position: 0px -2081px; }
.malawi_16_left { background-position: 0px -2113px; }
.mexico_16_left { background-position: 0px -2257px; }
.montenegro_16_left { background-position: 0px -2321px; }
.nc-america_16_left { background-position: 0px -2433px; }
.netherlands_16_left { background-position: 0px -2465px; }
.netherlands_16_right { background-position: 100% -2465px; }
.nicaragua_16_left { background-position: 0px -2513px; }
.northern-ireland_16_left { background-position: 0px -2593px; }
.norway_16_left { background-position: 0px -2625px; }
.papua-new-guinea_16_left { background-position: 0px -2737px; }
.philippines_16_left { background-position: 0px -2785px; }
.poland_16_left { background-position: 0px -2801px; }
.portugal_16_left { background-position: 0px -2817px; }
.qatar_16_left { background-position: 0px -2849px; }
.russia_16_left { background-position: 0px -2897px; }
.scotland_16_left { background-position: 0px -3009px; }
.scotland_16_right { background-position: 100% -3009px; }
.singapore_16_left { background-position: 0px -3105px; }
.slovakia_16_left { background-position: 0px -3153px; }
.slovenia_16_left { background-position: 0px -3169px; }
.south-america_16_left { background-position: 0px -3233px; }
.spain_16_left { background-position: 0px -3265px; }
.sudan_16_left { background-position: 0px -3345px; }
.sweden_16_left { background-position: 0px -3393px; }
.switzerland_16_left { background-position: 0px -3409px; }
.syria_16_left { background-position: 0px -3425px; }
.trinidad-and-tobago_16_left { background-position: 0px -3537px; }
.tunisia_16_left { background-position: 0px -3553px; }
.turkey_16_left { background-position: 0px -3569px; }
.turkey_16_right { background-position: 100% -3569px; }
.turkmenistan_16_left { background-position: 0px -3585px; }
.united-states_16_left { background-position: 0px -3681px; }
.venezuela_16_left { background-position: 0px -3761px; }
.vietnam_16_left { background-position: 0px -3777px; }
.world_16_left { background-position: 0px -3809px; }
.zambia_16_left { background-position: 0px -3841px; }
.zimbabwe_16_left { background-position: 0px -3873px; }
