/* Code tidied up by ScrapBook */
._38vo { position: relative; }
._38vo::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._44ma { display: block; }
*::-moz-placeholder, :-moz-placeholder { color: rgb(144, 148, 156); }
:focus::-moz-placeholder, :focus:-moz-placeholder { color: rgb(190, 194, 201); }
._5afx { direction: ltr; unicode-bidi: isolate; }
._5afz { unicode-bidi: isolate; }
._2a2q { overflow: hidden; position: relative; }
._xcx { display: block; position: absolute; }
._xcx::after { border: 1px solid rgba(0, 0, 0, 0.1); bottom: 0px; content: ""; left: 0px; position: absolute; right: 0px; top: 0px; }
._52d9 { background-color: rgba(0, 0, 0, 0.4); bottom: 0px; color: rgb(255, 255, 255); font-size: 35px; font-weight: normal; left: 0px; position: absolute; right: 0px; top: 0px; }
._52da { display: table; height: 100%; width: 100%; }
._52db { display: table-cell; text-align: center; vertical-align: middle; }
._1_lj { color: rgb(75, 79, 86); line-height: 1.358; text-align: center; }
._1_lj:hover { text-decoration: none; }
div._1_lk { margin-left: 0px; margin-top: 0px; }
._1_lk ._5jmm { border: 0px none; box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12); margin-bottom: 0px; margin-top: 10px; }
._1_lk ._5jmm:first-of-type { margin-top: 0px; }
._2f7y { padding-top: 8px; text-align: center; }
._2_79 { letter-spacing: 0.15px; }
._2_1h { margin: 12px 12px 0px; }
._rb9 { border-top: 1px solid rgb(240, 240, 240); }
._2165, ._22v4 { display: block; }
._2166, ._4mlr { bottom: 1px; position: relative; }
._36iq { cursor: pointer; font-size: 12px; font-weight: bold; line-height: 16px; text-align: center; }
._3xre { color: rgb(127, 127, 127); }
._2yf7 { vertical-align: bottom; }
._2yf7._5jp { display: inline-block; }
._2yf7._3wdt { display: none; }
._1p6f { display: block; width: 100%; }
._1p6g { height: auto; }
._4d-l { margin-bottom: 11px; }
._2l7q { background: rgb(0, 0, 0) none repeat scroll 0% 0%; box-shadow: none; }
._2l7q img { margin: 0px auto; }
a._58cn:hover { text-decoration: none; }
a:hover ._58cm { text-decoration: underline; }
._58cn ._58cl { color: rgb(66, 103, 178); }
._2p_a { background-color: rgb(0, 0, 0); margin: -23px -13px 12px; }
._5pcb { margin-left: -18px; }
.likeBoxStream ._5pcb, .safetyStream ._5pcb, ._22fo ._5pcb, ._1nvm ._5pcb, ._4x2x ._5pcb, ._5tmf._5pcb, ._5vb_ ._5pcb, ._56mv ._5pcb, ._5sem ._5pcb, ._5zlf ._5pcb, .permalinkPost ._5pcb { margin-left: 0px; }
._49u4, ._4r_y { height: 0px; left: 0px; overflow: visible; position: absolute; right: 0px; }
._4r_y { margin-top: -12px; }
#unifiedQueueWrapper ._4r_y, ._5tmf ._4r_y { margin-top: 0px; position: initial; }
._5pat { position: relative; overflow-wrap: break-word; }
._5v3q ._1dwg { padding: 12px 12px 0px; }
._5pb8 { float: left; }
._5pat ._5sq7 { height: 40px; width: 40px; }
._4_vv, ._4mrt:empty { border-style: none; margin: 0px; }
._5pbw, ._5pbx { font-size: 14px; font-weight: normal; line-height: 1.38; }
._5v3q ._5pbx p { margin: 6px 0px; }
._5v3q ._5pbx p:first-child { margin-top: 0px; }
._5v3q ._5pbx > p:last-of-type { display: inline; margin-bottom: 0px; }
.prl { padding-right: 20px; }
.mtm { margin-top: 10px; }
.mbm { margin-bottom: 10px; }
._29k { display: table-cell; vertical-align: top; width: 10000px; }
._29h { float: left; margin-right: 5px; }
._29h .img, img._29h, i._29h { display: block; }
._302 { float: right; }
._303 { margin-right: 8px; }
._3dp._29k > div { display: inherit; }
a._39g5 { color: rgb(144, 148, 156); }
._47e3, ._4ay8 { line-height: 0; vertical-align: middle; }
span._47e3 .img { vertical-align: -3px; }
._1gwo::before, span._47e3::before { clip: rect(1px, 1px, 1px, 1px); content: attr(title); height: 1px; overflow: hidden; position: absolute; white-space: nowrap; width: 1px; }
._skr, ._7oe { display: inline-block; font-size: 0px; width: 0px; }
._5mfr { margin: 0px 1px; }
.sp_odmTOBBZgjt { background-image: url("mJKohJx6QSt.png"); background-size: auto auto; background-repeat: no-repeat; display: inline-block; height: 16px; width: 16px; }
.sp_odmTOBBZgjt.sx_7cd390 { width: 24px; height: 24px; background-position: -26px -24px; }
.sp_odmTOBBZgjt.sx_4292df { background-position: -17px -136px; }
.sp_odmTOBBZgjt.sx_2250ba { background-position: -34px -136px; }
.sp_odmTOBBZgjt.sx_7ce7c4 { background-position: 0px -153px; }
.sp_odmTOBBZgjt.sx_66e255 { background-position: -17px -153px; }
.sp_odmTOBBZgjt.sx_c9c764 { background-position: -34px -153px; }
.sp_odmTOBBZgjt.sx_98a042 { background-position: 0px -170px; }
.sp_odmTOBBZgjt.sx_c1319d { width: 12px; height: 12px; background-position: -51px -136px; }
