/* Code tidied up by ScrapBook */
@keyframes rotateSpinner {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
@keyframes popText {
0% { transform: scale(1.5); }
67% { transform: scale(0); }
100% { transform: scale(0); }
}
@keyframes popSpinCircle {
0% { transform: scale(1.1) rotate(0deg); }
84% { transform: scale(0) rotate(78deg); }
100% { transform: scale(0) rotate(86deg); }
}
@keyframes shrink {
0% { transform: scale(1); }
100% { transform: scale(0); }
}
